.btn
    display: inline-block
    cursor: pointer
    background: none
    border: none
    font-size: 1rem
    font-family: 'Overpass', sans-serif

    &.text
        padding: 15px 30px
        border-radius: 100px
        text-align: center
        background-color: $color-d
        box-shadow: 0 0 10px 0px rgba($color-b, 0.5)
        transition-duration: $transition-duration

        &:hover
            box-shadow: 0 0 0px 0px rgba($color-a, 0)
            background: $color-c

        &:active
            background: rgba($color-c, 0.5)

    &.submit
        border-radius: 5px
        background-color: $color-b
        box-shadow: 0 0 10px 0px rgba($color-d, 1)
        border: 2px solid $color-b
        transition-duration: $transition-duration
        font-weight: bold

        &:hover
            background: rgba($color-d, 0.8)
            color: $color-a

        &:active
            background: rgba($color-d, 0.5)