#hero
    .splide
        width: 80%
        margin: 0 auto
        box-shadow: 0 0 15px -5px $color-c

        li.splide__slide
            a
                width: 100%
                height: auto
            img
                width: 100%

    .counters-wrapper
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        margin-top: 30px

        .counter
            width: calc(30% - 80px)
            margin: 0 auto
            background-color: $color-c
            border-radius: 30px
            padding-left: 40px
            padding-right: 40px
            display: flex
            align-items: center

            &:hover .counter-icon
                transform: scale(1.15)
                opacity: 1

            .counter-icon
                opacity: 0.6
                width: 55px
                margin-right: 20px
                transition-duration: $transition-duration

            .separator
                width: 3px
                height: 80px
                margin-right: 20px
                background-color: $color-d

            h3
                display: flex
                flex-direction: column
                font-size: 1.25rem
                margin: 0
                margin-top: 20px
                margin-bottom: 20px

                .counter-number
                    color: $color-a

                .counter-title
                    color: $color-b
                    text-transform: uppercase


    // @media screen and (max-width: $regular-width-media-query)
        