#hero
    margin-top: 80px
    .splide
        width: 80%
        margin: 0 auto
        box-shadow: 0 0 15px -5px $color-c

        li.splide__slide
            a
                width: 100%
                height: auto
            img
                width: 100%

    


    // @media screen and (max-width: $regular-width-media-query)
        