.input-image
    width: 100%
    margin-bottom: 20px

    label
        border: 2px solid $color-b
        border-radius: 5px
        display: flex
        align-items: center
        justify-content: space-evenly
        padding: 5px 0

        input
            display: none

        img
            width: 60px 
            height: 60px

        svg
            fill: $color-b
            width: 30px
            height: 30px

    .warning
        color: $color-b
        font-size: 12px
        margin-top: 5px
        margin-left: 20px