html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2C3333;
  font-family: "Overpass", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #E7F6F2;
}

.regular-width {
  max-width: 1250px;
  margin: 0 auto;
}
@media screen and (max-width: 1300px) {
  .regular-width {
    padding: 0 5%;
    width: 90%;
  }
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Asap Condensed", cursive;
  color: #A5C9CA;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.shadow {
  box-shadow: 4px 4px 30px -15px #E7F6F2;
}

.title-separator {
  margin-top: 80px;
  margin-bottom: 60px;
}
.title-separator h2 {
  font-size: 35px;
  margin: 0;
  margin-left: 100px;
  background-color: #2C3333;
  display: inline-block;
  padding: 40px;
  padding-top: 0px;
  padding-bottom: 0;
  text-transform: uppercase;
}
.title-separator hr {
  margin-top: -20px;
}

.video-wrapper {
  position: relative;
}
.video-wrapper .play-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-wrapper .play-icon img {
  width: 30%;
  height: 30%;
}
.video-wrapper video {
  width: 100%;
}

.btn {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #A5C9CA;
}

::-webkit-scrollbar-thumb {
  background: #E7F6F2;
  margin-top: -5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #395B64;
}

#hero .splide {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 15px -5px #395B64;
}
#hero .splide li.splide__slide a {
  width: 100%;
  height: auto;
}
#hero .splide li.splide__slide img {
  width: 100%;
}
#hero .counters-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
#hero .counters-wrapper .counter {
  width: calc(30% - 80px);
  margin: 0 auto;
  background-color: #395B64;
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
}
#hero .counters-wrapper .counter:hover .counter-icon {
  transform: scale(1.15);
  opacity: 1;
}
#hero .counters-wrapper .counter .counter-icon {
  opacity: 0.6;
  width: 55px;
  margin-right: 20px;
  transition-duration: 0.6s;
}
#hero .counters-wrapper .counter .separator {
  width: 3px;
  height: 80px;
  margin-right: 20px;
  background-color: #2C3333;
}
#hero .counters-wrapper .counter h3 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
#hero .counters-wrapper .counter h3 .counter-number {
  color: #E7F6F2;
}
#hero .counters-wrapper .counter h3 .counter-title {
  color: #A5C9CA;
  text-transform: uppercase;
}

#about .about-cards {
  width: 80%;
  margin: 0 auto;
}
#about .about-cards .card {
  margin-top: 30px;
}
#about .about-cards .card h3 {
  display: block;
  width: calc(100% - 15px);
  background-color: #395B64;
  font-size: 25px;
  text-transform: capitalize;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
#about .about-cards .card .content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
#about .about-cards .card .content:hover .video-wrapper {
  width: 450px;
}
#about .about-cards .card .content:hover p {
  width: calc(100% - 450px - 30px);
}
#about .about-cards .card .content .video-wrapper {
  width: 300px;
  margin-right: 30px;
  transition-duration: 0.6s;
}
#about .about-cards .card .content p {
  width: calc(100% - 300px - 30px);
  color: #E7F6F2;
  transition-duration: 0.6s;
}

/*# sourceMappingURL=styles.css.map */
