@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}
@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #2C3333;
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
}
p.small {
  font-size: 0.8rem;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #E7F6F2;
}

.regular-width {
  max-width: 1250px;
  margin: 0 auto;
}
@media screen and (max-width: 1300px) {
  .regular-width {
    padding: 0 5%;
    width: 90%;
  }
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Asap Condensed", cursive;
  color: #A5C9CA;
}

*:focus {
  outline: none;
}

.title-separator {
  margin-top: 80px;
  margin-bottom: 60px;
}
.title-separator h2 {
  font-size: 2.2rem;
  margin: 0;
  margin-left: 100px;
  background-color: #2C3333;
  display: inline-block;
  padding: 40px;
  padding-top: 0px;
  padding-bottom: 0;
  text-transform: uppercase;
}
.title-separator hr {
  margin-top: -20px;
}
@media screen and (max-width: 700px) {
  .title-separator h2 {
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .title-separator hr {
    display: none;
  }
}

.video-wrapper {
  position: relative;
}
.video-wrapper:hover video {
  opacity: 1;
  filter: blur(0);
}
.video-wrapper .play-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-wrapper .play-icon img {
  width: 30%;
  height: 30%;
}
.video-wrapper video {
  width: 100%;
  transition-duration: 0.6s;
  opacity: 0.6;
  filter: blur(2px);
}

.info-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 30px;
  gap: 30px;
}
.info-cards-wrapper .card {
  width: calc(100% - 80px);
  margin: 0 auto;
  background-color: #395B64;
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
}
.info-cards-wrapper .card:hover .icon {
  transform: scale(1.15);
  opacity: 1;
}
.info-cards-wrapper .card .icon {
  opacity: 0.6;
  width: 55px;
  margin-right: 21px;
  transition-duration: 0.6s;
}
.info-cards-wrapper .card .separator {
  width: 3px;
  height: 80%;
  margin-right: 21px;
  background-color: #2C3333;
}
.info-cards-wrapper .card .text {
  width: calc(100% - 100px);
}
.info-cards-wrapper .card .text h3 {
  display: block;
  font-size: 1.25rem;
  margin: 0;
  margin-top: 20px;
  color: #E7F6F2;
}
.info-cards-wrapper .card .text p {
  display: block;
  color: #A5C9CA;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .info-cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .info-cards-wrapper .card {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .info-cards-wrapper .card {
    width: 80%;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
}
.btn.text {
  padding: 15px 30px;
  border-radius: 100px;
  text-align: center;
  background-color: #2C3333;
  box-shadow: 0 0 10px 0px rgba(165, 201, 202, 0.5);
  transition-duration: 0.6s;
}
.btn.text:hover {
  box-shadow: 0 0 0px 0px rgba(231, 246, 242, 0);
  background: #395B64;
}
.btn.text:active {
  background: rgba(57, 91, 100, 0.5);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #A5C9CA;
}

::-webkit-scrollbar-thumb {
  background: #E7F6F2;
  margin-top: -5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #395B64;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
#header .bg {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: calc(100% + 10px);
  background-color: rgba(57, 91, 100, 0.8);
  z-index: -1;
  backdrop-filter: blur(4px);
}
#header .content .content-internal {
  height: 50px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .content .content-internal .logo {
  margin: 0;
  padding: 0;
  height: 100%;
}
#header .content .content-internal .logo img {
  height: 100%;
  width: auto;
}
#header .content .content-internal nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#header .content .content-internal nav li {
  list-style: none;
}
#header .content .content-internal nav li:hover a {
  color: #A5C9CA;
  font-size: 0.9rem;
}
#header .content .content-internal nav li a {
  transition-duration: 0.6s;
  color: #E7F6F2;
  padding: 10px 20px;
  margin: 5px;
  font-size: 0.8rem;
}
#header .content .content-internal .btn.display {
  height: 100%;
  display: none;
}
#header .content .content-internal .btn.display img {
  height: 80%;
  width: auto;
}
@media screen and (max-width: 766px) {
  #header .content .content-internal {
    width: 100%;
    height: 60px;
  }
  #header .content .content-internal .btn.display {
    display: block;
  }
  #header .content .content-internal nav {
    position: absolute;
    right: 0;
    top: 60px;
    margin: 0;
    height: 100vh;
    transition-duration: 0.6s;
  }
  #header .content .content-internal nav ul {
    padding: 40px;
    padding-bottom: 0;
    flex-direction: column;
    background-color: rgba(57, 91, 100, 0.8);
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
  }
  #header .content .content-internal nav ul li a {
    font-size: 1.5rem;
    padding: 20px 0;
    display: inline-block;
  }
  #header.clossed .content .content-internal nav {
    right: -300px;
  }
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #2C3333;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loading img {
  width: 30%;
  border-radius: 50px;
  animation-name: logo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
@keyframes logo {
  0% {
    opacity: 0;
    width: 30%;
  }
  80% {
    opacity: 1;
    width: 40%;
  }
  100% {
    opacity: 0;
  }
}

#hero {
  margin-top: 80px;
}
#hero .splide {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 15px -5px #395B64;
}
#hero .splide li.splide__slide a {
  width: 100%;
  height: auto;
}
#hero .splide li.splide__slide img {
  width: 100%;
}
@media screen and (max-width: 900px) {
  #hero .splide {
    width: 100%;
  }
}

#about .about-cards {
  width: 80%;
  margin: 0 auto;
}
#about .about-cards .card {
  margin-top: 30px;
}
#about .about-cards .card h3 {
  display: block;
  width: calc(100% - 15px);
  background-color: #395B64;
  font-size: 1.6rem;
  text-transform: capitalize;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
#about .about-cards .card .content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
#about .about-cards .card .content:hover .video-wrapper {
  width: 450px;
}
#about .about-cards .card .content:hover .texts {
  width: calc(100% - 450px - 30px);
}
#about .about-cards .card .content .video-wrapper {
  width: 300px;
  margin-right: 30px;
  transition-duration: 0.6s;
}
#about .about-cards .card .content .texts {
  width: calc(100% - 300px - 30px);
  color: #E7F6F2;
  transition-duration: 0.6s;
}
#about .about-cards .card .content .chibis-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}
#about .about-cards .card .content .chibis-wrapper .chibi {
  height: 120px;
  padding: 15px;
}
@media screen and (max-width: 1050px) {
  #about .about-cards .card .content {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 900px) {
  #about .about-cards {
    width: 100%;
  }
  #about .about-cards .card .content {
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
  }
  #about .about-cards .card .content .video-wrapper {
    width: 60%;
    margin-right: 0;
  }
  #about .about-cards .card .content .texts {
    width: 80%;
  }
  #about .about-cards .card .content .chibis-wrapper {
    right: 50%;
    transform: translateX(50%);
  }
  #about .about-cards .card .content:hover .video-wrapper {
    width: 80%;
  }
  #about .about-cards .card .content:hover .texts {
    width: 80%;
  }
}
@media screen and (max-width: 510px) {
  #about .about-cards .card .content {
    padding-bottom: 90px;
  }
  #about .about-cards .card .content .video-wrapper {
    width: 80%;
  }
  #about .about-cards .card .content .texts {
    width: 100%;
  }
  #about .about-cards .card .content .chibis-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about .about-cards .card .content .chibis-wrapper .chibi {
    height: 80px;
  }
  #about .about-cards .card .content:hover .video-wrapper {
    width: 100%;
  }
  #about .about-cards .card .content:hover .texts {
    width: 100%;
  }
}

#videos-grid .videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
#videos-grid .videos .video-wrapper {
  padding: 20px;
  transition-duration: 0.6s;
}
#videos-grid .videos .video-wrapper:hover {
  padding: 0;
}
@media screen and (max-width: 1200px) {
  #videos-grid .videos {
    grid-gap: 10px;
  }
}
@media screen and (max-width: 1000px) {
  #videos-grid .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  #videos-grid .videos {
    grid-template-columns: repeat(1, 1fr);
  }
}

#colors-options .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#colors-options .img-wrapper img {
  width: 80%;
}

#models .models-wrapper {
  width: 60%;
  margin: 0 auto;
}
#models .models-wrapper .card {
  margin-top: 30px;
  border-radius: 10px;
  border: 4px solid #395B64;
}
#models .models-wrapper .card header {
  background-color: #395B64;
  display: flex;
  align-items: center;
  justify-content: center;
}
#models .models-wrapper .card header span {
  color: #A5C9CA;
  padding: 5px 10px;
  display: inline-block;
  font-size: 0.8rem;
}
#models .models-wrapper .card .content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#models .models-wrapper .card .content img {
  width: calc(40% - 80px);
  height: auto;
  padding: 20px;
}
#models .models-wrapper .card .content .info {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#models .models-wrapper .card .content .info h3 {
  font-size: 1.5rem;
  color: #A5C9CA;
  margin: 0;
  margin-bottom: 10px;
}
#models .models-wrapper .card .content .info .price {
  font-size: 1.2rem;
  color: #E7F6F2;
  margin-left: 20px;
}
#models .models-wrapper .card .content .info .features {
  margin: 10px 0;
}
#models .models-wrapper .card .content .info .features li {
  list-style: none;
  margin: 10px 0;
  color: rgba(165, 201, 202, 0.8);
}
#models .models-wrapper .card .content .info .features li:before {
  content: "•";
  color: rgba(165, 201, 202, 0.8);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}
#models .models-wrapper .card .content .info .btn {
  width: calc(100% - 60px);
}
@media screen and (max-width: 1200px) {
  #models .models-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  #models .models-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  #models .models-wrapper .card .content {
    flex-direction: column;
  }
  #models .models-wrapper .card .content img {
    width: 80%;
  }
  #models .models-wrapper .card .content .info {
    width: 100%;
  }
  #models .models-wrapper .card .content .info h3, #models .models-wrapper .card .content .info .price {
    text-align: center;
    width: 100%;
  }
}

#testimonials li.splide__slide .content {
  background-color: #395B64;
  margin: 30px;
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#testimonials li.splide__slide .content p {
  margin: 0;
  padding: 0;
  color: rgba(231, 246, 242, 0.6);
}
#testimonials li.splide__slide .content img {
  border-radius: 50%;
  margin: 0;
  width: 100px;
}
#testimonials li.splide__slide .content h3 {
  font-size: 1.4rem;
  margin: 15px 0;
}
@media screen and (max-width: 900px) {
  #testimonials li.splide__slide .content {
    margin: 10px;
    padding: 10px;
  }
}

#socials {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #A5C9CA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 0;
}
#socials a {
  transition-duration: 0.6s;
  opacity: 0.6;
}
#socials a:hover {
  opacity: 1;
}
#socials a:hover img {
  width: 35px;
}
#socials a img {
  transition-duration: 0.6s;
  width: 20px;
  padding: 10px;
}

#footer {
  background-color: rgba(57, 91, 100, 0.5);
  margin-top: 50px;
  padding-top: 50px;
}
#footer .content .content-internal {
  width: 80%;
  margin: 0 auto;
}
#footer .content .content-internal a, #footer .content .content-internal p {
  color: #E7F6F2;
}
#footer .content .content-internal a:hover {
  color: #A5C9CA;
}
#footer .content .content-internal .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .content .content-internal .top a {
  padding: 0px 20px;
  display: inline-block;
}
#footer .content .content-internal .top a:first-child {
  padding-left: 0;
}
#footer .content .content-internal .top a:last-child {
  padding-right: 0;
}
#footer .content .content-internal hr {
  margin: 20px 0;
}
#footer .content .content-internal .buttom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .content .content-internal .buttom address, #footer .content .content-internal .buttom p, #footer .content .content-internal .buttom a {
  font-size: 0.8rem;
}
#footer .content .content-internal .buttom img {
  height: 30px;
  margin: 10px;
}
@media screen and (max-width: 550px) {
  #footer {
    padding-top: 20px;
  }
  #footer .content .content-internal {
    width: 100%;
  }
  #footer .content .content-internal .top {
    flex-direction: column;
    align-items: center;
  }
  #footer .content .content-internal .top a {
    padding: 10px;
  }
  #footer .content .content-internal .buttom {
    flex-direction: column;
    align-items: center;
  }
  #footer .content .content-internal .buttom address, #footer .content .content-internal .buttom p, #footer .content .content-internal .buttom a {
    text-align: center;
  }
  #footer .content .content-internal .buttom img {
    margin: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
